<p>A breaking news item</p>
<p>Some breaking action</p>
<%= link_to 'New Article' , '#' %>
<ul>
  <% @articles.each do |article| %>
    <li>
      <%= article.title %><br />
      <%= article.content %>
    </li>
  <% end %>
</ul>